.home{
    --bgColor: #041a0f;
    --textColor: #FDFFFC;
    --clicks: #02383f;
    --bgButton: rgba(196, 133, 16, 0.719);
    --textButton: #141414; 
    .game{
        background-color: var(--bgColor);
        color: var(--textColor);
        min-height: 100vh;

        .title{
            text-align: center;
            padding-top: 20px;
        }
        

        .tabela{
            position: relative;
            text-align: center;
            width: 70%;
            left: 50%;
            top: 25%;
            transform: translate(-50%);
            margin-top: 3%;

        }

        .subtitle{
            margin-top: 5%;
            text-align: center;
        }

        .persons{
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 120px;
            .person{
                text-align: center;
                width: 30%;
                height: 100px;
                background-color: red;
                border-radius: 12px;
            }
        }

        .buttons{
            max-height: 80px;
            width: 360px;
            height: 10%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%);
            
            .botao{
                border-radius: 14px;
                height: 35px;
                width: 120px;
                border: 1px solid #1e1e1e;
                background-color: var(--bgButton);
                color: var(--textButton);
                transition: 450ms;
                &:hover{
                    transform: 100ms;
                    margin-top: -14px;
                    cursor: pointer;
                }
            }
        }
    }
}