.home{
    --bgColor: #000F08;
    --textColor: #FDFFFC;
    --clicks: #02383f;
    --bgButton: rgba(155, 104, 9, 0.719);
    --textButton: #141414; 
    .game{
        background-color: var(--bgColor);
        color: var(--textColor);
        min-height: 100vh;

        .title{
            text-align: center;
            padding-top: 20px;
        }
        

        .tabela{
            position: relative;
            text-align: center;
            width: 70%;
            left: 50%;
            top: 25%;
            transform: translate(-50%);
            margin-top: 3%;

        }

        .subtitle{
            margin-top: 5%;
            text-align: center;
        }

        .buttons{
            min-height: 80px;
            height: 100%;
            margin-top: 40vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            .botao{
                border-radius: 14px;
                height: 35px;
                width: 120px;
                border: 1px solid #1e1e1e;
                background-color: var(--bgButton);
                color: var(--textButton);
                transition: 450ms;
                &:hover{
                    transform: 100ms;
                    margin-top: -14px;
                    cursor: pointer;
                }
            }
        }
    }
}