header{
    --bgColor: #2e80be;
    --textColor: #f5f5f5;
    
    background-color: var(--bgColor);

    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;

    .link{
        color: var(--textColor);
        text-decoration: none;
        transition: 150ms;
        &:hover{
            transition: 550ms;
            text-decoration: underline;
        }
    }
}